fastapi==0.115.4
uvicorn[standard]==0.32.0
python-multipart==0.0.12
pydantic==2.9.2
pydantic-settings==2.6.1
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
pgvector==0.3.6
numpy==1.26.4
Pillow==10.4.0
Click>=6.0
dlib-bin==19.24.6
face-recognition-models==0.3.0
